body{
    text-align:center;
    font-family:sans-serif;
    background-color: rgb(78, 12, 56);
    color: rgb(54, 1, 1);
    font-size: 30px;
}
button, .computer-choice{
    background: #990935;
    border:0;
    padding:10px;
    border-radius:15px;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}
svg{
    height: 40px;
    fill: #000;
}
.computer-choice svg{
    display:none;
}
.result{
    margin-top: 20px;
}
@keyframes spin {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.computer-choice{
    animation: spin 1s infinite linear;
    transition: all .5s linear;
}
.computer-choice.stop-spinning{
    animation:none;
}